<div
  class="mx-auto text-center text-blue-300 text-2xl md:text-3xl mt-20 space-y-10 md:space-y-16 w-sm xl:w-lg font-ButlerPro"
>
  <p>Reach out to me with any questions, opportunites, or feedback!</p>
  <div class="grid grid-cols-1 md:grid-cols-2 mt-16 gap-x-32 gap-y-20 items-center">
    <app-social-link
      icon="gmail.svg"
      name="Email"
      href="mailto:doughertyw25@gmail.com?subject=Let's%20Connect"
    />
    <app-social-link
      icon="linkedin.svg"
      name="LinkedIn"
      href="https://www.linkedin.com/in/will-t-dougherty"
    />
    <app-social-link icon="github.svg" name="GitHub" href="https://github.com/WT-Dougherty" />
    <app-social-link icon="medium.svg" name="Medium" href="https://medium.com/@willtdougherty" />
  </div>
</div>
