<div class="mx-auto text-center text-blue-400 text-xl sm:text-2xl mt-14 space-y-8 w-80 lg:w-md">
  <p class="font-ButlerPro">I'm Will Dougherty, a software engineer based out of Boston, MA.</p>
  <p class="font-ButlerPro">
    I studied Computer Science and Physics at the University of Connecticut, and I'm currently
    working at Fidelity Investments, where I work primarily with C++ & Java.
  </p>
  <p class="font-ButlerPro">This website is a showcase of my personal projects and work.</p>
</div>
