/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@font-face {
  font-family: 'ButlerPro';
  src: url('/fonts/ButlerPro-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-ButlerPro: 'ButlerPro', sans-serif;
}
